@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  background: f4f4f4;
}

.bannerLogo {
  padding: 50px 0px;
  text-align: left;
}

.bannerContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
}
.bannerTopContentWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.bannerTopContentWrapper h1 {
  line-height: 70px;
  color: #000;
  text-transform: capitalize;
  text-align: center;
  margin: 0px;
  font-size: 45px;
  margin: 0px;
  font-weight: 900;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bannerTopContentWrapper h1 span {
  color: #004ca8;
  font-weight: 700;
}
.bannerTopContentWrapper p {
  font-size: 22px;
  font-family: "poppins";
  font-weight: 300;
  line-height: 33px;
  color: #fff;
  margin: 0px;
}

.bigText h2 {
  margin: 0px;
  font-size: 380px;
  font-weight: bold;
  font-family: "Poppins";
  color: #6291c92b;
  text-transform: uppercase;
  line-height: 72%;
}

.bigText {
  position: relative;
}
.bigText img {
  position: relative;
  left: 0px;
  transform: translate(0%, -34%);
  bottom: 0;
  max-width: 50%;
}
.bottomText {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -145px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 50%;
}

.bottomText span {
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins";
  color: #004ca8;
  text-transform: uppercase;
  line-height: 33px;
}

.bottomText p {
  margin: 0px;
  font-size: 22px;
  font-family: "poppins";
  font-weight: 300;
  line-height: 33px;
  color: #000;
}

.machineImg img {
  width: 100%;
}

.machineContent {
  position: absolute;
  top: 116px;
  z-index: 1;
  right: 112px;
}

.machineImg {
  position: relative;
}

.machineSec {
  background: #f4f4f4;
  padding: 100px 0px 0px;
}

.machineContent h2 {
  margin: 0px;
  font-size: 44.38px;
  font-family: "Poppins";
  line-height: 100%;
  color: #fff;
  font-weight: normal;
  letter-spacing: -2px;
}

.machineContent h2 span {
  color: #1dd2e3;
}

.inqueryformSec {
  background: #d9d9d9;
  padding: 100px 0px;
}

.inqueryformWrapper {
  max-width: 763px;
  margin: auto;
}

.inqueryformContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.inqueryformTopContentWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.bntCall {
  width: 100%;
  padding: 34px;
  background: #004ca8;
  border-radius: 20px;
}

.bntCall a {
  text-decoration: unset;
  color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
}

.inqueryformContent p {
  font-size: 33px;
  line-height: 45px;
  margin: 0px;
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-weight: 400;
}

.inqueryformContent p b {
  font-weight: 700;
}
.inputFiled input,
.inputFiled textarea,
.form-group select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #818181;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  outline: 0px;
  border-radius: 0px;
}

.inqueryformContent form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.inputFiled textarea {
  min-height: 165px;
}
.submitBtn button {
  width: 100%;
  padding: 10px 15px;
  border: 0px;
  background: #004ca8;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins";
  color: #fff;
  text-transform: uppercase;
  line-height: 33px;
}

.contentSec h3 {
  margin: 0px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 40px;
  color: #004ca8;
}

.contentSec {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.contentSec img {
  max-width: 512px;
  margin: auto;
}
.videoSec {
  padding: 0px;
  position: relative;
  background-image: url(https://revomacgroup.com/lp/assets/img/Layer.png);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #004ca8;
}

.VideoIframe img {
  width: 100%;
}

.videoSec:before {
}

.VideoIframe {
  position: relative;
}

.macPlantImg img {
  width: 100%;
}

.gallerySec {
  padding: 100px 0px;
  overflow: hidden;
}

.secTitle h2 {
  margin: 0px;
  font-size: 32px;
  color: #004ca8;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 81%;
  width: fit-content;
  margin: auto;
  padding: 0px 100px;
  background: #ffffff;
  position: relative;
}

.secTitle {
  position: relative;
  margin-bottom: 86px;
}

.secTitle:before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background: #004ca81c;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px 24px;
}

.galleryGrid .galleryItem .galleryImage img {
  width: 100%;
}

.videoCompanyImg {
  max-width: 90%;
  margin: auto;
  position: relative;
}

.videoCompanyImg img {
  width: 100%;
}

.videoCompany {
  padding-bottom: 100px;
}

.playIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  cursor: pointer;
}

.vibrationSec {
  padding: 100px 0px;
  background: #e2e2e2;
}

.vibrationGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: baseline;
}

.vibrationGrid .vibrationItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.vibrationGrid .vibrationItem img {
  width: max-content;
  margin: 0px auto;
  width: 100%;
  min-height: 145px;
  object-fit: scale-down;
  background: #fff;
  max-height: 145px;
}

.vibrationSec .title {
  margin-bottom: 40px;
  text-align: center;
}

.vibrationGrid .vibrationItem h5 {
  color: #232323;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  margin: 0px;
}

.vibrationSec .title h2 {
  color: #232323;
  font-family: "Poppins";
  font-size: 33px;
  line-height: 38px;
  margin: 0px;
  font-weight: 700;
}

.youtubeVideo {
  padding: 100px 0px;
  background: #004ca8;
}

.youtubeVideoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.youtubeVideoGrid .youtubeVideoItem img {
  width: 100%;
}
.applicationSec {
  background: #d9d9d9;
  padding: 100px 0px;
}

.applicationSec .row {
  justify-content: center;
  gap: 50px 0px;
}

.applicationSec .applicationItem {
  display: flex;
  padding: 35px;
  background: #b1b1b1;
  border: 1px solid #424242;
  text-align: center;
  flex-direction: column;
  gap: 48px;
  height: 100%;
  justify-content: space-between;
}

.appContent h5 {
  color: #232323;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  text-align: center;
  line-height: 26px;
}

.applicationSec .row .applicationItem .appImg {
}

.applicationSec .row .applicationItem .appImg img {
  width: 100%;
  max-width: 185px;
  object-fit: contain;
}

.applicationSec .row .col-sm-12.col-md-4 {
  /* width: fit-content; */
}

.applicationGridOne,
.applicationGridTwo {
  display: grid;
  grid-template-columns: 357px 357px 357px;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.applicationGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}

.applicationGridTwo {
  grid-template-columns: 357px 357px;
}

.globalMap {
  padding: 100px 0px;
}

.globalMap .title {
  margin-bottom: 70px;
}

.globalMap .title h2 {
  margin: 0px;
  font-size: 44px;
  text-transform: uppercase;
  color: #004ca8;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
}

.addressOneGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 38px;
}

.addressItem {
  border-radius: 24px;
  background: #2222;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: flex-start;
}

.addressItem .addressIcon {
  text-align: right;
}

.addressItem .addressContent {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.addressItem .addressContent h5 {
  font-size: 24px;
  font-family: "Poppins";
  font-weight: bold;
  color: #020202;
  margin: 0px;
}

.addressItem .addressContent p {
  margin: 0px;
  font-size: 15px;
  font-family: "Poppins";
  color: #444;
  font-weight: 500;
  line-height: 30px;
  min-height: 120px;
}
.addressGrid .row {
  justify-content: center;
  gap: 40px 0px;
}

.addressGrid .row .col-sm-12.col-md-4 {
  padding: 0px 20px;
}

.bgGreen {
  background: #e2e2e2;
}

.bgGreen .submitBtn button {
  background: #004ca8;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
}
.mobileBlock {
  display: none;
}

.HollowBanner .bigText h2 {
  font-size: 300px;
}

.HollowBanner .bigText img {
  max-width: 43%;
  transform: translate(0%, -30%);
}

.HollowBanner .bottomText {
  transform: translate(-50%, -55px);
}
.bannerLogo img {
  max-width: 200px;
}

.HeaderLogo {
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
}

.HeaderLogo img {
  max-width: 250px;
  /* transform: scale(1.4) translateY(20px); */
}
.PaverBlockSec img {
  max-width: 40%;
}

.PaverBlockSec .bottomText {
  transform: translate(-50%, -70px);
}

.SolidBlockkSec .bigText img {
  max-width: 25%;
}

.SolidBlockSec .bottomText {
  transform: translate(-50%, -60px);
}
.SolidBlockSec img {
  max-width: 40%;
  transform: translate(0%, -50%);
}

.bannerSec {
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

.videoSec iframe,
.videoSec video {
  width: 100%;
}

@media (max-width: 767px) {
  .videoSec iframe,
  .videoSec video {
    height: auto;
    min-height: 260px;
  }
}
.galleryGrid .galleryItem .galleryImage img {
  width: 100%;
  max-height: 373px;
  object-fit: cover;
  min-height: 373px;
}
.addressIcon img {
  width: 40px;
}
.bgGreen .inqueryformContent p {
  color: #004ca8;
}
.machineSec .title h2 {
  line-height: 38px;
  margin: 0px;
  text-transform: capitalize;
  font-size: 32px;
  color: #004ca8;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
}

.SolutionGif img {
  width: 100%;
}

.machineSec .secTitle h2 {
  background: #f4f4f4;
  padding: 0px 25px;
}

.machineSec .secTitle {
  margin: 0px;
}

.testimonial-slider-rtl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial-slider-rtl .swiper-slide {
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
}
.slider-box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 40px;
  text-align: center;
  padding: 10px 0;
}
.slider-box-content .slider-content {
  padding: 20px 0px;
  background-color: #004ca8d4;
  color: #fff;
}

.slider-box-content .slider-content h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Plus Jakarta Sans';
    margin: 0px;
    text-transform: capitalize;
}

.brand-box {
    text-align: center;
    background: #fff;
    border-radius: 14px;
}

.swiper-pagination {
    display: none;
}

.bannerMobileImg{
    display: none !important;
  }

  .bannerSec img {
    width: 100%;
}
.brand-box img {
    width: 100%;
    object-fit: scale-down;
}
.HeaderBtn a {
    padding: 15px 20px;
    background: #004ca8;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
}

.CustomHeader {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    transition: 0.8s all;
}
.CustomHeader.new-sticky {
    background: #fff;
    border-bottom: 1px solid #004ca81c;
}